:root {
    --bgcolor:#2462a8;
}
html,body{
    min-width: 1280px;
    width: 100%;
    height: 100%;
}

/* 页面头部 */
.header {
    height: 70px;
}

/* 固定定位 */
.header-list{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 70px;
    background-color: #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* 设置一个较高的 z-index 值 */
}
.header-top{
    width: 1280px;
    height: 70px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* logo */
.logo {
    width: 200px;
}
.logo a {
    background: url(../images/logo.png) no-repeat center center;
    width: 180px;
    height: 50px;
    display: inline-block; /* 转换行内块 */
    background-size: contain;
}
li {
    list-style-type: none; /* 去除默认标记 */
}
/* 头部导航 */
.header-top ul{
    flex: 1;
    display: flex;
}
.header-menu li {
    margin: 0 30px;
    font-size: 16px;
    font-weight: 700;
    position: relative;
}
.header-menu ul li span {
    font-size: 16px;
    font-weight: 700;
}
/* 鼠标移上去的时候 */
.header-menu ul li span:hover {
    color: var(--bgcolor);
    text-decoration: none;
}
.header-menu ul li span {
    color: var(--bgcolor);
    text-decoration: none;
}
/* 由于<router-link>渲染成的是<a>标签,需要针对a标签设置:hover状态的样式。 */
.header-top ul li a {
    color: black; /* 默认颜色设置为黑色 */
    text-decoration: none; /* 去除下划线 */
}
/* 设置路由链接在悬停时的样式为蓝色 */
.header-top ul li a:hover {
    color: var(--bgcolor); /* 悬停时颜色变为定义的蓝色 */
}
/* 伪元素下划线特效 */
.header-menu li::before {
    content:'';
    position: absolute;
    bottom: -24px;
    left: 50%;
    width: 0;
    height: 100%;
    border-bottom: 3px solid var(--bgcolor);
    transition: all 0.2s;
}
.header-menu li:hover::before{
    content:'';
    width: 100%;
    left: 0;
}
/* 头部右侧 */
.header-right {
    display: flex;
}
/* ************** */
/* ****主页轮播 **** */
/* ************** */
.banner-list {
    max-width: 1920px;
    margin: auto;
}
/* 图片样式 */
.banner-list.el-carousel-item>img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

/* ************** */
/* ****关于我们 **** */
/* ************** */
.container{
    width: 1280px;
    margin: auto;
}
.container_bg{
    padding: 50px 0;
}
.index_title {
    text-align: center;
}
.index_title h3{
    font-size: 42px;
    font-weight: 700;
}
.index_title p {
    font-size: 20px;
    color: #666;
}

